doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js")
    script(src="/controllers/groupcontroller.js")
    script(src="/controllers/maincontroller.js")
    script(src="/javascripts/angular-routes.js")
    
  body
    div.main-info(ng-view)