<div class="user-register" ng-controller="LoginController">
<h1>{{title}}</h1>
<div class="error"></div>

<div class="message"></div>

<form ng-submit="processForm()">

<div class="form-item">
<input placeholder="Enter your name" autofocus name="name"  ng-model="formData.name"/>
</div>


<div class="form-item">
<input placeholder="Enter your phone" autofocus name="phone" ng-model="formData.phone"/>
</div>

<button type="submit" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-flash"></span> Submit!
		</button>

</form>
{{formData.name}}
</div>